<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../../css/Style.css" rel="stylesheet" />
</head>
<body>


    <!--<div data-bind="with: movies"></div>-->
    <!--<div>
        <div data-bind="foreach: movieTitles">
             <ul data-bind="text: primaryTitle">
                <li data-bind="text: primaryTitle, click: selectMovie"> </li>
             </ul>
        </div>
    </div>-->

    <h2>Movie titles </h2>
    <div>
        Page size: <select data-bind="options: pageSizes, selectedOptions: selectedPageSize"></select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre(s)</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: movieTitles">
            <tr>
                <!--<th scope="row"></th>-->
                <td data-bind="text: primaryTitle"></td>
                <td data-bind="text: genres"></td>

            </tr>
        </tbody>
    </table>

    <div class="navigation-buttons">
        <button data-bind="click: showPrev, enable: enablePrev">Prev</button>
        <button data-bind="click: showNext, enable: enableNext">Next</button>
    </div>
    <br />
    <!-- SEARCHING ACTOR NAME FROM DATABASE TABLE-->
    <div>
        <p>Here you can search for a specific movie title.</p>
        <label for="searchTitle">Movie title</label>
        <input id="searchTitle" data-bind="value: searchstring" />
        <button data-bind="click: doSearch">Search</button>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Movie Title</th>
                    <!--<th scope="col">Profession</th>-->
                </tr>
            </thead>
            <tbody data-bind="foreach: searchTitle">
                <tr>
                    <!--<th scope="row"></th>-->
                    <td data-bind="text: primaryTitle"></td>
                    <!--<td data-bind="text: primaryProfession"></td>-->
                </tr>
            </tbody>
        </table>
    </div>
  
    <script data-main="js/main.js" src="js/lib/require.js/require.min.js"></script>
</body>
</html>