<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>


    <div class="text-center">
        <!--<input ="textarea">Welcome to the Imdb lookalike database. Here you are able browse all movie titles within our database, furthermove you can search for a specific movie title of your desire.</input>-->
        <p>This a studentproject made by: Ala Mohamed Atef, Walid Miari and Mads Cords Thomsen</p>
    <!--</div>
    <div>
        <div class="background-box container">
            <div class="row">
                <div class="box-1 col-sm-4 col-md-4 col-lg-4"><h2><button class="button button1"><a class="box-text" href="about-us.html">MOVIES</button></a></h2> Your can see all available movies and search for a specific one </div>
                <div class="box-2 col-sm-4 col-md-4 col-lg-4"><h2><button class="button button2"><a class="box-text" href="photos.html">ACTORS</a></button></h3>Your can see all available actors and search for specific ones</div>
                <div class="box-3 col-sm-4 col-md-4 col-lg-4"><h2><button class="button button3"><a class="box-text" href="movies.html">LOGIN</a></button></h3>Log in now and have more rights</div>
            </div>


        </div>
    </div>-->
</body>
</html>